<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>
   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <link rel="stylesheet" href="/css/highlight_github.css">
   <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'], ['\(', '\)'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
   </script>
   <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>
</head>
<body>

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="{{ site.path }}">{{ site.title }}</a>
     <small>
       &nbsp;&nbsp;&nbsp;<a href="https://wkongzhu.github.io">回到主页</a>
     </small>
   </h3>
</header>

<div id="content">
  {{ content }}
</div>

</div><!-- .container -->
</body>
</html>
